.hr-with-text {
	display: flex;
	align-items: center;
	text-align: center;
	margin: 20px 0;
}

.hr-with-text::before,
.hr-with-text::after {
	content: "";
	flex: 1;
	border-bottom: 1px solid #ccc;
}

.hr-with-text::before {
	margin-right: 10px;
}

.hr-with-text::after {
	margin-left: 10px;
}

.text-h2 {
	text-align: center;
}

.button-div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	overflow: hidden; /* Prevents scrolling */
}

.left-container,
.right-container {
	flex: 1;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media (min-width: 768px) {
	.wrapper {
		flex-direction: row;
	}
	.left-container {
		flex: 1.5;
	}
	.right-container {
		flex: 1;
	}
}

.button {
	align-items: center;
	display: inline-flex;
	border-radius: 1;
}

.h2 {
	align-items: center;
	justify-content: center;
	display: flex;
}

.displayImg {
	width: 100%;
	height: auto;
}

body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

.left-container,
.right-container {
	max-height: 100%;
	box-sizing: border-box;
}
